@use "sass:map";

@import "Common";

.e-checkbox {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.e-checkbox__hidden {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.e-checkbox__box {
  display: inline-block;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.e-checkbox__tick {
  display: none;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.5px;
}

.e-checkbox__hidden:checked ~ .e-checkbox__box > .e-checkbox__tick {
  display: block;
}

.e-checkbox__label {
  cursor: pointer;
}

.e-checkbox {
  &.e-checkbox--size-small {
    font-size: 13px;
  }

  &.e-checkbox--size-medium {
    font-size: 15px;
  }

  &.e-checkbox--size-large {
    font-size: 17px;
  }
}

@mixin make-visual-style($visual-type) {
  .e-checkbox.e-checkbox--visual-type-#{$visual-type} {
    & > .e-checkbox__box {
      background-color: map.get($colors, $visual-type);
    }

    & > .e-checkbox__hidden:focus ~ .e-checkbox__box {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
    }

    &:hover > .e-checkbox__box {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
      background-color: map.get($colors, "#{$visual-type}-light");
    }

    &:active:hover > .e-checkbox__box {
      background-color: map.get($colors, "#{$visual-type}-dark");
    }

    & > .e-checkbox__hidden:disabled {
      & ~ .e-checkbox__box {
        @include disable-box-shadow();
        background-color: map.get($colors, "#{$visual-type}-lighter");
        cursor: not-allowed;
      }

      & ~ .e-checkbox__label {
        color: #aaaaaa;
        cursor: not-allowed;
      }
    }
  }
}

@include make-visual-style("default");
@include make-visual-style("primary");
@include make-visual-style("danger");
