$colors: (
  "primary": #2e86c1,
  "primary-dark": #21618c,
  "primary-light": #3498db,
  "primary-lighter": #aed6f1,
  "default": #909497,
  "default-dark": #797d7f,
  "default-light": #a6acaf,
  "default-lighter": #d7dbdd,
  "success": #28b463,
  "success-dark": #239b56,
  "success-light": #2ecc71,
  "success-lighter": #abebc6,
  "info": #27c0c4,
  "info-dark": #22a8ac,
  "info-light": #5dd0d3,
  "info-lighter": #aee7e9,
  "warning": #f1c40f,
  "warning-dark": #d4ac0d,
  "warning-light": #f4d03f,
  "warning-lighter": #f9e79f,
  "danger": #c0392b,
  "danger-dark": #a93226,
  "danger-light": #cd6155,
  "danger-lighter": #e6b0aa,
);

@mixin make-border($width: 1px) {
  box-sizing: border-box;
  border-width: $width;
  border-style: solid;
  border-radius: 2px;
}

@mixin make-box-shadow($color) {
  box-shadow: 0 0 0 2px $color;
}

@mixin disable-box-shadow() {
  box-shadow: none;
}
