@use "sass:map";

@import "Common";

@include make-distance(".e-input");

.e-input {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  outline: 0;
  transition: border-color box-shadow 0.1s;

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    color: #a6acaf;
    opacity: 1;
  }
}

.e-input {
  &.e-input--size-small {
    padding: 0 8px;
    height: 22px;
    font-size: 13px;
  }

  &.e-input--size-medium {
    padding: 0 10px;
    height: 26px;
    font-size: 15px;
  }

  &.e-input--size-large {
    padding: 0 12px;
    height: 30px;
    font-size: 17px;
  }
}

@mixin make-visual-style($visual-type) {
  .e-input.e-input--visual-type-#{$visual-type} {
    border-color: map.get($colors, $visual-type);

    &:focus {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
    }

    &:hover {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
      border-color: map.get($colors, "#{$visual-type}-light");
    }

    &:disabled {
      @include disable-box-shadow();
      border-color: map.get($colors, "#{$visual-type}-lighter");
    }
  }
}

@include make-visual-style("default");
@include make-visual-style("primary");
@include make-visual-style("danger");
