@use "sass:map";

@import "Common";

@include make-distance(".e-input");

.e-input {
  display: inline-block;

  & > .e-input__inner {
    display: block;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline: 0;
    width: 100%;
    transition: 0.1s;

    &:disabled {
      cursor: not-allowed;
    }

    &::placeholder {
      color: #a6acaf;
      opacity: 1;
    }
  }
}

.e-input {
  &.e-input--size-small {
    & > .e-input__inner {
      padding-left: 8px;
      padding-right: 8px;
      height: 24px;
      font-size: 12px;
    }
  }

  &.e-input--size-medium {
    & > .e-input__inner {
      padding-left: 10px;
      padding-right: 10px;
      height: 28px;
      font-size: 14px;
    }
  }

  &.e-input--size-large {
    & > .e-input__inner {
      padding-left: 12px;
      padding-right: 12px;
      height: 32px;
      font-size: 16px;
    }
  }
}

@mixin make-visual-style($visual-type) {
  .e-input.e-input--visual-type-#{$visual-type} {
    & > .e-input__inner {
      border-color: map.get($colors, $visual-type);

      &:focus {
        @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
      }

      &:hover {
        @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
        border-color: map.get($colors, "#{$visual-type}-light");
      }

      &:disabled {
        border-color: map.get($colors, "#{$visual-type}-lighter");
      }
    }
  }
}

@include make-visual-style("default");
@include make-visual-style("primary");
@include make-visual-style("danger");
