@use "sass:map";

@import "Common";

.e-multiline-input {
  @include make-border();
  outline: 0;
  font-family: inherit;

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    color: #a6acaf;
    opacity: 1;
  }
}

.e-multiline-input {
  &.e-multiline-input--size-small {
    padding: 4px 8px;
    font-size: 13px;
  }

  &.e-multiline-input--size-medium {
    padding: 5px 10px;
    font-size: 15px;
  }

  &.e-multiline-input--size-large {
    padding: 6px 12px;
    font-size: 17px;
  }
}

@mixin make-visual-style($visual-type) {
  .e-multiline-input.e-multiline-input--visual-type-#{$visual-type} {
    border-color: map.get($colors, $visual-type);

    &:focus {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
    }

    &:hover {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
      border-color: map.get($colors, "#{$visual-type}-light");
    }

    &:disabled {
      @include disable-box-shadow();
      border-color: map.get($colors, "#{$visual-type}-lighter");
    }
  }
}

@include make-visual-style("default");
@include make-visual-style("primary");
@include make-visual-style("danger");
