@use "sass:map";

@import "Common";

.e-radio {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.e-radio__hidden {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.e-radio__circle {
  display: inline-block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #000000;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.e-radio__dot {
  display: none;
  fill: #ffffff;
}

.e-radio__hidden:checked ~ .e-radio__circle > .e-radio__dot {
  display: block;
}

.e-radio__label {
  cursor: pointer;
}

.e-radio {
  &.e-radio--size-small {
    font-size: 13px;
  }

  &.e-radio--size-medium {
    font-size: 15px;
  }

  &.e-radio--size-large {
    font-size: 17px;
  }
}

@mixin make-visual-style($visual-type) {
  .e-radio.e-radio--visual-type-#{$visual-type} {
    & > .e-radio__circle {
      background-color: map.get($colors, $visual-type);
    }

    & > .e-radio__hidden:focus ~ .e-radio__circle {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
    }

    &:hover > .e-radio__circle {
      @include make-box-shadow(map.get($colors, "#{$visual-type}-lighter"));
      background-color: map.get($colors, "#{$visual-type}-light");
    }

    &:active:hover > .e-radio__circle {
      background-color: map.get($colors, "#{$visual-type}-dark");
    }

    & > .e-radio__hidden:disabled {
      & ~ .e-radio__circle {
        @include disable-box-shadow();
        background-color: map.get($colors, "#{$visual-type}-lighter");
        cursor: not-allowed;
      }

      & ~ .e-radio__label {
        color: #aaaaaa;
        cursor: not-allowed;
      }
    }
  }
}

@include make-visual-style("default");
@include make-visual-style("primary");
@include make-visual-style("danger");
