@import "Button";
@import "Checkbox";
@import "CheckboxGroup";
@import "Input";
@import "MultilineInput";
@import "Radio";
@import "RadioGroup";

* {
  color: #626567;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
